---
interface Props {
  quote: string;
  name: string;
  role?: string;
}
const { quote, name, role } = Astro.props as Props;
---
<div class="testimonial">
  <blockquote>&ldquo;{quote}&rdquo;</blockquote>
  <cite>{name}{role && `, ${role}`}</cite>
</div>
