---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout
  title="Affiliate Disclosure - Futureforth"
  description="Futureforth's affiliate disclosure explains how and why the website, newsletter, and podcast may contain affiliate links."
  path="/affiliate"
  noindex={true}
>
  <section class="section">
    <div class="container" style="max-width: 46rem;">
      <h1>Affiliate Disclosure</h1>
      <p>
        This website, email newsletter, social media profiles, and podcast may contain affiliate links.
        If you click on an affiliate link and make a purchase, we may earn a commission from the retailer
        or company at no additional cost to you. We only recommend products, services, and resources that
        we have personally used or believe will be beneficial to you.
      </p>
      <p>
        We are committed to providing <strong>honest and transparent content</strong>, and the inclusion
        of affiliate links is one way we support the costs of maintaining and operating Futureforth. Your
        support through these links helps us continue to deliver valuable information, resources, and
        entertainment.
      </p>
      <p>
        Please note that the presence of an affiliate link does not influence our editorial content or
        reviews. We strive to provide unbiased opinions and recommendations to our audience. Any product
        or service claims, statistics, quotes, or other representations about a product or service should
        be verified with the manufacturer, provider, or party in question.
      </p>
      <p>Thank you for your support.</p>
      <p>
        Please feel free to <a href="/contact">contact us</a> if you have any questions or concerns
        regarding our affiliate disclosure.
      </p>
    </div>
  </section>
</BaseLayout>
